import(lattice)
exportPattern("^[[:alpha:]]+")
exportMethods(
              "joinColumns",
              "mdsPlot",
              "joinRows",
              "plotGeneDistribution",
              "countDensity"
)
